
  .header{
    background-color:rgb(158, 26, 26);
     color: black;
    
   }
  
  #First-form h4 {
    border-bottom: 1px solid black;
  }
  .col h4 {
    border-bottom: 1px solid black;
  }
  

.halfpart{
    text-align: center;
   
}
  .section1{
      background: gold;
  }
  .section2{
      background-color: yellowgreen;
  }
  .section3{
      background-color: gold;
  }
  #First-form{
      background-color: white;
      font-family: 'Titillium Web', sans-serif;
      margin:6%;
      padding:2%;
  }

  #inputtext{
      background-color: deepskyblue;
      margin:6%;
      padding:5%;
  }

.gifsection{
    background-color: coral;
    padding:8%;
}
.ratingsection{
   background-color: rgb(113, 113, 209);
   font-family: 'Nunito', sans-serif;
   padding:5%;
   margin:5%;
}
.numberofgifs{
    background-color: cornflowerblue;
    font-family: 'Nunito', sans-serif;
    padding:5%;
    margin:5%;
}
.appheader{
    animation: slide 10s infinite;
    color: rgb(236, 203, 11);
}
.header{
    padding-top:2%;
    padding-bottom:2%;
}
@keyframes slide{
    from { margin-left:0;}
    to { margin-left: 73%;}
}
.footer{
    text-align: center;
    background-color: rgb(158, 26, 26);
    width:100%;
    color: rgb(236, 203, 11);
}
